body {
  margin: 0;
  text-align: center;

  color: #40514e;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  color: #FF686B;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FF686B;
}

h2  {
  font-size: 2.5rem;
  padding-bottom: 2%;
}

a   {
  color: #FF686B;
  /*padding: 10px;*/

  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #FF8D8D;
}

p   {
  line-height: 2;
}

/**********************/
/*HR CLASS*/
/************************/
.hr-div {
  color: #FF686B;
  padding: 3% 0 3%;
}


/**********************/
/*CONTAINER CLASSESS*/
/************************/

.navbar {
  padding-bottom: 0.5rem;
  background-color: #fcd5ce;

  border-bottom-color: #FF686B;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 2rem;

  color: #FF686B;
  padding-left: 2%;
}

/*top container related*/
.top-container {
  background-color: #fcd5ce;
  position: relative;

  padding: 5% 15% 7%;
}

.header-imgs {
  width: 50%;
  margin: auto;
}

/*middle-container related*/
.middle-container {
  background-color: #fff;
  padding: 3% 0 1%;
  position: relative;
  z-index: 1;
}

.profile {
  width: 80%;
  margin: auto;

}

.about {
  padding-bottom: 5%;
}

.about-desc {
  text-align: left;
  padding-bottom: 2%;
}

.exp-history {
  text-align: left;
}

.contact-me {
  padding: 3% 0;
}

.btn {
  margin: 2% 0;

  background-color: #FF8D8D;
  border: none;
}

.role {
  padding: 2% 0;
  border-width: 5px;
  border-style: none;
  border-top-style: solid;
  border-color: #FF8D8D;
}

/*bottom-container related*/
footer {
  padding: 3%;
  background-color: #fcd5ce;
}

.footer-link {
  padding: 2% 2%;
}

.dedication {
  font-size: 0.75rem;
  padding: 2% 0;
}

/**********************/
/*IMAGES*/
/************************/
.petals  {
  width: 85%;
}

.female  {
  width: 20%;
  border-radius: 25%;
  padding: 3% 3%;

  position: absolute;
  right: 40%;
}

.self {
  width: 20%;
  padding-bottom: 3%;
}

.about-img {
  width: 80%;
  border-radius: 50%;
  padding-top: 35%;
}

/******************* MEDIA QUERIES *******************/
/*@media <type> <feature>*/
@media (max-width: 1028px) {
  /*header imgs*/
  .female {
    position: static;
    width: 60%;
  }

  .petals {
    display: none;
  }

  .about-img {
    padding-top: 3%
  }
}